include MANIFEST.in
include requirements.txt
include *.json
include *.md
include *.py
include *.txt
recursive-include branded_lms/public *
recursive-include branded_lms *.css
recursive-include branded_lms *.csv
recursive-include branded_lms *.html
recursive-include branded_lms *.ico
recursive-include branded_lms *.js
recursive-include branded_lms *.json
recursive-include branded_lms *.md
recursive-include branded_lms *.png
recursive-include branded_lms *.py
recursive-include branded_lms *.svg
recursive-include branded_lms *.txt
recursive-exclude branded_lms *.pyc